<%= error_messages_for 'test_case' %>
<div class="box">
  <p><label><span class="required">*</span><%=l :field_name %></label><%= text_field_tag 'node[name]', @node.name, :size => 50, :required=>true %></p>
  <p><%= form.text_area :summary,
         :class => 'wiki-edit', :rows => 5 %></p>
  <p><%= form.text_area :preconditions,
         :class => 'wiki-edit', :rows => 5 %></p>
  <div style="margin:0; padding: 5px 0 8px 0; padding-left: 180px; height: 1%; clear: left;">
    <label>TestStep</label>
    <div>
      <div class="contextual">
	<a href="#" class="icon icon-add add-test-step">add</a>
      </div>
      <div style="clear: both;"/>
      <table class="list">
	<thead>
	  <tr class="entry">
	    <th>#</th>
	    <th>Operation</th>
	    <th>Expectation</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody class="sortable">
	  <% @test_case.test_steps.each_with_index do |test_step, i| %>
	  <tr>
	    <td class="ui-sort-handle"><%=h test_step.step_number %></td>
	    <td><%=text_area_tag "test_steps[#{i+1}][actions]", test_step.actions, :rows=>3, :style=>'width:100%' %>
	      <%= hidden_field_tag "test_steps[#{i+1}][step_number]", test_step.step_number %>
	      <%= hidden_field_tag "test_steps[#{i+1}][id]", test_step.id %>
	    </td>
	    <td><%=text_area_tag "test_steps[#{i+1}][expected_results]", test_step.expected_results, :rows=>3, :style=>'width:100%' %></td>
	    <td><span class='icon icon-del'/></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
  <p><%= form.check_box :active,
         :class => 'wiki-edit' %></p>
</div>
