<%= error_messages_for 'test_case' %>
<div class="box">
  <p><label><span class="required">*</span><%=l :field_name %></label><%= text_field_tag 'node[name]', @node.name, :size => 50, :required=>true %></p>
  <p><%= form.text_area :details, :rows => 10,
         :class => 'wiki-edit' %></p>
  <%= wikitoolbar_for 'test_case_details' %>
  <p>
    <label>keyword</label>
    <%= select_tag "node_keywords[][keyword_id]",
	options_from_collection_for_select(@keywords, :id, :keyword, (@node.keywords.nil?) ? [] : @node.keywords.collect{|w| w.id}),
	{ :multiple => true } %>
  </p>
</div>
