<% content_for :header_tag do %>
  <%= stylesheet_link_tag 'default/style.css', :plugin => 'redmine_impasse' %>
<% end %>

<%= impasse_breadcrumb [
	link_to(l(:label_impasse), {:controller => :impasse_test_case, :action => :index, :project_id => @project }),
	link_to(l(:label_test_plans_list), {:controller => :impasse_test_plans, :action => :index, :project_id => @project })
]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>

<div class="issue">
  <p><strong><%=l :field_notes%></strong><p>
  <div class="wiki">
    <%= textilizable @test_plan, :notes %>
  </div>
  <ul>
    <% @test_plan.visible_custom_field_values.each do |custom_value| %>
      <% if !custom_value.value.blank? %>
	<li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
      <% end %>
    <% end %>
  </ul>

  <% if @setting.can_manage_requirements? and @test_plan.related_requirements.size > 0 %>
    <p><strong><%=l(:label_requirement_plural)%></strong></p>
    <table class="list">
      <thead>
	<th><%= l(:field_subject) %></th>
	<th><%= l(:label_num_of_needed_cases) %></th>
	<th><%= l(:label_num_of_actual_cases) %></th>
	<th><%= l(:label_coverage) %></th>
      </thead>
      <tbody>
      <% for requirement_stat in @test_plan.related_requirements %>
	<tr class="entry">
	  <td><%= link_to h(requirement_stat.subject), :controller => 'issues', :action => 'show', :id => requirement_stat.issue_id %></td>
	  <td class="size"><%= requirement_stat.needed %></td>
	  <td class="size"><%= requirement_stat.planned %></td>
	  <td style="padding-left: 20px;"><%= progress_bar requirement_stat.coverage, :with => "80px", :legend =>number_to_percentage(requirement_stat.coverage, :precision => 1)%></td>
	</tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div style="clear: both;"/>

<div class="contextual">
  <%=link_to_if_authorized l(:button_edit), {:controller => :impasse_test_plans, :action=>:edit, :project_id => @project, :id=>@test_plan}, :class=>'icon icon-edit' %>
  <%=link_to_if_authorized l(:button_copy), {:controller => :impasse_test_plans, :action=>:copy, :project_id => @project, :id=>@test_plan}, :class=>'icon icon-copy' %>
  <%=link_to_if_authorized l(:button_delete), {:controller => :impasse_test_plans, :action=>:destroy, :project_id => @project, :id=>@test_plan},
      :class=>'icon icon-del', :confirm=>l(:text_are_you_sure), :method => :post %>
</div>
