<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery-ui', 'jquery.noty.css', 'noty_theme_twitter.css', :plugin => 'redmine_impasse' %>
  <%= javascript_include_tag('jquery', 'jquery-ui', 'jquery.cookie.js',
			     'jquery.hotkeys.js', 'jquery.jstree.js', 'jquery.noty.js',
			     'impasse_util', 'test_case_assign',
			     :plugin => 'redmine_impasse') %>
  <script type="text/javascript">
    jQuery.jstree._themes = '<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/themes/';
    var test_plan_id = "<%= @test_plan.id %>";
    var IMPASSE = {
      url: {
        testCaseList: "<%= url_for :controller=>:impasse_test_case, :action=>:list, :project_id=>@project %>",
        testPlanCaseList: "<%= url_for :controller=>:impasse_test_case, :action=>:list, :project_id=>@project, :test_plan_id=>@test_plan.id %>",
        testPlansAdd: "<%= url_for :controller=>:impasse_test_plans, :action=>:add_test_case, :project_id=>@project %>",
        testPlansRemove: "<%= url_for :controller=>:impasse_test_plans, :action=>:remove_test_case, :project_id=>@project %>",
        iconDelete: "<%=image_path 'delete.png'%>",
        iconTestSuite: "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/documents-stack.png",
        iconTestCase:  "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/document-attribute-t.png",
        iconProject:   "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/book-brown.png",
      },
      label: {
        buttonDelete: "<%=l(:button_delete)%>"
      },
      canEdit: <%= (User.current.allowed_to? :manage_testcases, nil, :global => true) ? "true" : "false" %>
    };
    </script>
<% end %>

<%= impasse_breadcrumb [
	link_to(l(:label_impasse), {:controller => :impasse_test_case, :action => :index, :project_id => @project}),
	link_to(l(:label_test_plans_list), {:controller => :impasse_test_plans, :action => :index, :project_id => @project})
]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>

<div style="width: 100%;">
  <div style="float:left; width: 48%;">
    <div style="position: relative; width: 100%; height: 50px;">
       <div id="drop-area" class="jstree-drop" style="background:lime; color:green; width: 100%; height:40px; line-height:40px; text-align:center; border:5px solid green;">
	 <%=l(:text_assign_cases)%>
       </div>
    </div>
    <div id="testplan-tree"></div>
  </div>
  <div style="float:right; width: 48%;">
    <div id="testcase-tree"></div>
  </div>
</div>
