<% self.class.send(:include, ImpasseSettingsHelper) -%>
<%= error_messages_for 'setting' %>
<div class="box tabular">
  <p><%=f.select :bug_tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, :required => true %></p>
  <p><%=f.select :requirement_tracker, @project.trackers.collect {|t| [t.name, t.id.to_s]}, {}, :multiple => true, :size => 5, :selected => @impasse_setting.requirement_tracker %></p>
</div>
<% unless @custom_fields_by_type.empty? and defined?(:impasse_custom_fields_tabs) %>
  <fieldset class="box" id="impasse_custom_fields"><legend><%=l(:label_custom_field_plural)%></legend>
    <% impasse_custom_fields_tabs.each do |tab| %>
      <% if @custom_fields_by_type[tab[:name]] %>
	<h3><%= l(tab[:label])%></h3>
	<div>
	<% @custom_fields_by_type[tab[:name]].each do |custom_field| %>
	  <label class="floating">
	    <%= check_box_tag 'custom_field_ids[]', custom_field.id, (@impasse_custom_fields[tab[:name]].include? custom_field) %>
	    <%=h custom_field.name %>
	  </label>
	<% end %>
	  <br class="clear"/>
	</div>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
  
<%= submit_tag l(:button_save) %>
