<% if Rails::VERSION::MAJOR < 3 %>
  <% labelled_tabular_form_for :issue, @issue, :url => {:controller => 'issues', :action => 'create', :project_id => @project},
                               :html => {:multipart => true, :id => 'issue-form', :class => 'tabular new-issue-form'} do |f| %>
      <%= error_messages_for 'issue' %>
      <div class="box">
      <%= render :partial => 'issues/form', :locals => {:f => f} %>
      </div>
      <%= submit_tag l(:button_create) %>
  <% end %>
<% else %>
  <% output = labelled_form_for @issue,
       :url => {:controller => 'issues', :action => 'create', :project_id => @project},
       :as  => :issue,
       :html => {:multipart => true, :id => 'issue-form', :class => 'tabular new-issue-form'} do |f| %>
      <%= error_messages_for 'issue' %>
      <div class="box">
      <%= render :partial => 'issues/form', :locals => {:f => f} %>
      </div>
      <%= submit_tag l(:button_create) %>
  <% end %>
  <%= output %>
<% end %>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
<% end %>
