<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery-ui', 'jquery.noty.css', 'noty_theme_twitter.css', 'impasse', :plugin => 'redmine_impasse' %>
  <% heads_for_wiki_formatter %>
  <%= javascript_include_tag('jquery', 'jquery-ui',
			     'jquery.hotkeys.js',
			     'jquery.jstree.js',
			     'jquery.blockUI.js', 'jquery.noty.js',
			     'impasse_util', 'executions', 'screenshots',
			     :plugin => 'redmine_impasse') %>

  <%= include_calendar_headers_tags %>
  <script>
    jQuery.jstree._themes = '<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/themes/';
    var test_plan_id = "<%= @test_plan.id %>";
    var IMPASSE = {
      url: {
        executionsEdit: "<%= url_for :controller=>:impasse_executions, :action=>:edit, :project_id=>@project%>",
        executionsList: "<%= url_for :controller=>:impasse_executions, :action=>:get_list, :project_id=>@project, :test_plan_id=>@test_plan.id %>",
        executionsPut:  "<%=url_for :controller=>:impasse_executions, :action=>:put, :project_id=>@project %>",
        executionsDel:  "<%=url_for :controller=>:impasse_executions, :action=>:delete, :project_id=>@project %>",
        executionBugsNew: "<%=url_for :controller=>:impasse_execution_bugs, :action=>:new, :project_id=>@project %>",
        executionBugsCreate: "<%=url_for :controller=>:impasse_execution_bugs, :action=>:create %>",
        executionBugsCreate: "<%=url_for :controller=>:impasse_execution_bugs, :action=>:create %>",
        issue: "<%= Redmine::Utils::relative_url_root %>/issues",
        iconTestSuite: "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/documents-stack.png",
        iconTestCase:  "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/document-attribute-t.png",
        iconProject:   "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/book-brown.png",
      },
      label: {
        issueNew: "<%=l(:label_issue_new)%>",
        buttonDelete: "<%=l(:button_delete)%>"
      }
    };

    var EXEC_ICONS = [
       "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/document-attribute-t.png",
       "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/tick.png",
       "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/cross.png",
       "<%=Redmine::Utils::relative_url_root%>/plugin_assets/redmine_impasse/stylesheets/images/wall-brick.png"
    ];
    function reset_filter() {
        jQuery(".filter :input").filter(":text,select").val("");
        jQuery(".filter #cb_execution_status_all").click();
        jQuery(".filter #cb_myself").attr("checked", "checked");
        jQuery("#testplan-tree").jstree("refresh", jQuery("#testplan-tree li[rel=test_project]"));
    }
  </script>
<% end %>

<%= impasse_breadcrumb [
			link_to(l(:label_impasse), {:controller => :impasse_test_case, :action => :index, :project_id => @project}),
			link_to(l(:label_test_plans_list), {:controller => :impasse_test_plans, :action => :index, :project_id => @project})
		       ]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>

<div class="tab-content">
  <div class="splitcontentleft">
    <fieldset id="filters" class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="display:none;">
	<table>
	  <tr class="filter">
	    <th></th>
	    <td>
	      <%= check_box_tag 'myself', true, true, :id=>'cb_myself' %>
	      <label for="cb_myself"><%=l(:label_assined_to_myself)%></label>
	    </td>
	  </tr>
	  <tr class="filter">
	    <th><%= l(:field_status)%></th>
	    <td>
	      <input type="checkbox" id="cb_execution_status_all" checked="checked" disabled="disabled"/>
	      <label for="cb_execution_status_all">All</label>
	      <%= check_box_tag 'execution_status', 0, false, :id=>'cb_execution_status_0'%>
	      <label for="cb_execution_status_0"><%=l(:label_execution_status_0)%></label>
	      <%= check_box_tag 'execution_status', 1, false, :id=>'cb_execution_status_1'%>
	      <label for="cb_execution_status_1"><%=l(:label_execution_status_1)%></label>
	      <%= check_box_tag 'execution_status', 2, false, :id=>'cb_execution_status_2'%>
	      <label for="cb_execution_status_2"><%=l(:label_execution_status_2)%></label>
	      <%= check_box_tag 'execution_status', 3, false, :id=>'cb_execution_status_3'%>
	      <label for="cb_execution_status_3"><%=l(:label_execution_status_3)%></label>
	    </td>
	  </tr>
	  <tr class="filter">
	    <th><%= l(:field_expected_date) %></th>
	    <td>
	      <%= text_field_tag 'expected_date' %><%= calendar_for('expected_date') %>
	      <select name="expected_date_op">
		<option value=""></option>
		<option value="<="><%=l(:label_includes_before)%></option>
		<option value=">=" ><%=l(:label_includes_after)%></option>
	      </select>
	    </td>
	  </tr>
	</table>
      </div>
    </fieldset>
    <p class="buttons hide-when-print">
      <%=link_to l(:button_apply), {:controller=>:impasse_executions, :action=>:index, :project_id=>@project, :test_plan_id=>@test_plan}, :class => 'icon icon-checked'%>
      <%=link_to_function l(:button_clear), 'reset_filter()', :class => 'icon icon-reload'%>
    </p>
    <div id="testplan-tree"></div>
  </div>
  <div class="splitcontentright" style="position: relative">
    <div id="executions-view" style="width: 100%; top: 0 !important;">
    </div>
  </div>
</div>

<div id="issue-dialog"></div>
