<div class="tab-content">
  <table class="list">
    <tr>
      <th style="width:20%;"><%=l(:label_member)%></th>
      <th style="width:15%;"><%=l(:label_impasse_stat_total_cases)%></th>
      <th style="width:15%;"><%=l(:label_execution_status_1)%></th>
      <th style="width:15%;"><%=l(:label_execution_status_2)%></th>
      <th style="width:15%;"><%=l(:label_execution_status_3)%></th>
      <th style="width:20%;"><%=l(:label_impasse_stat_executions_rate)%></th>
    </tr>
    <% @statistics.each do |st|
         user = User.new
	 st.attributes.each {|k, v| user[k] = v if user.has_attribute? k} %>
    <tr class="entry">
      <td class="size">
	<% if st.login.nil? %>
          <span><%= (st.tester_id)? l(:label_user_anonymous) : "Not assigned" %></span>
	<% else %>
	  <%=avatar user, :size=>16%><%=h user.name %>
	<% end %>
      </td>
      <td class="size"><%=h st.assigned %></td>
      <td class="size"><%=h st.ok %></td>
      <td class="size"><%=h st.ng %></td>
      <td class="size"><%=h st.block %></td>
      <td class="size"><%=number_to_percentage (st.assigned.to_i == 0) ? 0 : ((st.ok.to_f + st.ng.to_f + st.block.to_f) / st.assigned.to_f) * 100, :precision=>2 %></td>
    </tr>
    <% end %>
  </table>
</div>

