<%= breadcrumb 
    [link_to(l(:label_impasse), {:controller => :test_case, :action => :index, :project_id => @project}),
     h(" > "),
     link_to(l(:label_test_plans_list), {:controller => :test_plans, :action => :index, :project_id => @project})
]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>
<% labelled_tabular_form_for :test_plan, @test_plan, {} do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <%= submit_tag "Update" %>
<% end %>
