<%= stylesheet_link_tag 'jquery-ui', :plugin => 'redmine_impasse' %>
<%= javascript_include_tag 'jquery', :plugin => 'redmine_impasse' %>
<%= javascript_include_tag 'jquery-ui', :plugin => 'redmine_impasse' %>
<%= javascript_include_tag 'jquery.cookie.js', :plugin => 'redmine_impasse' %>
<%= javascript_include_tag 'jquery.hotkeys.js', :plugin => 'redmine_impasse' %>
<%= javascript_include_tag 'jquery.jstree.js', :plugin => 'redmine_impasse' %>

<%= breadcrumb 
	[link_to(l(:label_impasse), {:controller => :test_case, :action => :index, :project_id => @project})]%>

<div class="contextual">
<%= link_to(l(:label_test_plan_new),
            {:controller=>:test_plans, :action=>:new,:project_id=>@project},
            :class => 'icon icon-add')%>
</div>

<h2><%=l(:label_test_plan_plural)%></h2>

<% if @versions.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div id="testplans">
<% @versions.each do |version| %>   
    <h3 class="version"><%= tag 'a', :name => version.name %><%= link_to_version version %></h3>
    <%= render(:partial => "wiki/content", :locals => {:content => version.wiki_page.content}) if version.wiki_page %>

    <% if (test_plans = @test_plans_by_version[version]) && test_plans.size > 0 %>
    <% form_tag({}) do -%>      
    <table class="list">
    <%- test_plans.each do |test_plan| -%>
      <tr>
        <td><%= link_to test_plan.name, :action => :show, :project_id => @project, :id => test_plan.id %></td>
      </tr>
    <%- end -%>
    </table>
    <% end %>
    <% end %>
<% end %>
</div>
<% end %>
</div>
