<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery-ui', :plugin => 'redmine_impasse' %>
  <%= javascript_include_tag('jquery', 'jquery-ui', 'jquery.cookie.js',
			     'jquery.hotkeys.js', 'jquery.jstree.js',
			     'impasse_util', 'test_case_assign',
			     :plugin => 'redmine_impasse') %>
  <script type="text/javascript">
    jQuery.jstree._themes = '<%=Engines::RailsExtensions::AssetHelpers.plugin_asset_path 'redmine_impasse', 'stylesheets', 'themes'%>/';
    var test_plan_id = "<%= @test_plan.id %>";
    var IMPASSE = {
      url: {
        testCaseList: "<%= url_for :controller=>:test_case, :action=>:list, :project_id=>@project %>",
        testPlanCaseList: "<%= url_for :controller=>:test_case, :action=>:list, :project_id=>@project, :test_plan_id=>@test_plan.id %>",
        testPlansAdd: "<%= url_for :controller=>:test_plans, :action=>:add_test_case, :project_id=>@project %>",
        testPlansRemove: "<%= url_for :controller=>:test_plans, :action=>:remove_test_case, :project_id=>@project %>",
        iconDelete: "<%=image_path 'delete.png'%>",
        iconTestSuite: "<%=image_path('../stylesheets/images/documents-stack.png', :plugin=>'redmine_impasse')%>",
        iconTestCase:  "<%=image_path('../stylesheets/images/document-attribute-t.png', :plugin=>'redmine_impasse')%>",
        iconProject:   "<%=image_path "../stylesheets/images/book-brown.png", :plugin=>'redmine_impasse' %>"
      },
      label: {
        buttonDelete: "<%=l(:button_delete)%>",
      }
    };
    </script>
<% end %>

<%= breadcrumb 
	[link_to(l(:label_impasse), {:controller => :test_case, :action => :index, :project_id => @project}),
        h(" > "),
	link_to(l(:label_test_plan_plural), {:controller => :test_plans, :action => :index, :project_id => @project})
]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>

<div style="width: 100%;">
  <div style="float:left; width: 48%;">
    <div class="jstree-drop" style="background:lime; color:green; height:40px; line-height:40px; text-align:center; border:5px solid green;">
      <%=l(:text_assign_cases)%>
    </div>
    <div id="testplan-tree"></div>
  </div>
  <div style="float:right; width: 48%;">
    <div id="testcase-tree"></div>
  </div>
</div>
