<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery-ui', :plugin => 'redmine_impasse' %>
  <%= javascript_include_tag('jquery', 'jquery-ui', 'jquery.cookie.js',
			     'jquery.hotkeys.js', 'jquery.jstree.js',
			     'impasse_util', 'user_assign',
			     :plugin => 'redmine_impasse') %>
  <script type="text/javascript">
    jQuery.jstree._themes = '<%=Engines::RailsExtensions::AssetHelpers.plugin_asset_path 'redmine_impasse', 'stylesheets', 'themes'%>/';
    var test_plan_id = '<%= @test_plan.id %>';
    var IMPASSE = {
      url: {
        testPlansAdd: "<%= url_for :controller=>:test_plans, :action=>:add_test_case, :project_id=>@project %>",
        testPlansRemove: "<%= url_for :controller=>:test_plans, :action=>:remove_test_case, :project_id=>@project %>",
        executionsPut:  "<%= url_for :controller=>:executions, :action=>:put, :project_id=>@project %>",
        executionsDelete:  "<%= url_for :controller=>:executions, :action=>:destroy, :project_id=>@project %>",
        executionsList: "<%= url_for :controller=>:executions, :action=>:get_list, :project_id=>@project, :test_plan_id=>@test_plan.id %>",
        iconDelete: "<%=image_path 'delete.png'%>",
        iconTestSuite: "<%=image_path('../stylesheets/images/documents-stack.png', :plugin=>'redmine_impasse')%>",
        iconTestCase:  "<%=image_path('../stylesheets/images/document-attribute-t.png', :plugin=>'redmine_impasse')%>",
        iconProject:   "<%=image_path "../stylesheets/images/book-brown.png", :plugin=>'redmine_impasse' %>"
      },
      label: {
        buttonDelete: "<%=l(:button_delete)%>"
      }
    };
  </script>
<% end %>

<%= breadcrumb 
    [link_to(l(:label_impasse), {:controller => :test_case, :action => :index, :project_id => @project}),
     h(" > "),
     link_to(l(:label_test_plans_list), {:controller => :test_plans, :action => :index, :project_id => @project})
    ]%>
<h2><%=h @test_plan.name %></h2>

<%= render_impasse_tabs %>

<div class="tab-content">
  <div class="splitcontentleft">
    <div id="testplan-tree"></div>
  </div>
  <div class="splitcontentright" style="position: relative;">
    <div id="cal-user-view">
      <fieldset>
	<legend><%=l :label_calendar %></legend>
	<div id="calendar-view" style="width: 100%"></div>
      </fieldset>
      <fieldset>
	<legend><%=l :label_member_plural %></legend>
	<ul id="principals">
	  <% for principal in @project.principals %>
            <li class="jstree-draggable test-member" style="list-style:none; cursor: pointer" id="principal-<%=h principal.id %>"><%= avatar principal, :size=>16 %><%=h principal %></li>
	  <% end %>
	</ul>
      </fieldset>
    </div>
  </div>
</div>
