<%= labelled_form_for(@impasse_exec_step_hist, remote: true) do |f| %>
  <%= error_messages_for "impasse_exec_step_hist" %>

  <div class="box tabular">
    <p><%= f.text_field :test_steps %></p>
    <p><%= f.text_field :test_plan_case %></p>
    <p><%= f.text_field :issue %></p>
  </div>

  <p class="buttons">
    <%= f.submit %>
    <%= submit_tag l(:button_cancel), onclick: "hideModal(this);", type: "button" %>
  </p>
<% end %>