<% html = capture do %>
  <h3 class="title"><%= l(:label_impasse_exec_step_hist) %></h3>

  <div class="box">
    <p>
      <b>Test steps:</b>
      <%= @impasse_exec_step_hist.test_steps %>
    </p>
    <p>
      <b>Test plan case:</b>
      <%= @impasse_exec_step_hist.test_plan_case %>
    </p>
    <p>
      <b>Issue:</b>
      <%= @impasse_exec_step_hist.issue %>
    </p>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_cancel), onclick: "hideModal(this);", type: "button" %>
  </p>
<% end %>

$("#ajax-modal").html("<%= j html %>").find(".box").css("z-index", "auto");
showModal("ajax-modal", "600px");