<div class="contextual">
  <%= link_to l(:label_impasse_exec_step_hist_edit), edit_impasse_exec_step_hist_path(@impasse_exec_step_hist), class: "icon icon-edit", remote: true %>
</div>

<h2><%= link_to l(:label_impasse_exec_step_hist_plural), impasse_exec_step_hists_path %>
  &#187; <%= l(:label_impasse_exec_step_hist) %></h2>

<div class="box">
<p>
  <b>Test steps:</b>
  <%= @impasse_exec_step_hist.test_steps %>
</p>
<p>
  <b>Test plan case:</b>
  <%= @impasse_exec_step_hist.test_plan_case %>
</p>
<p>
  <b>Issue:</b>
  <%= @impasse_exec_step_hist.issue %>
</p>
</div>

<% html_title l(:label_impasse_exec_step_hist) -%>