<%= labelled_form_for(@impasse_t_s_e_hist) do |f| %>
  <%= error_messages_for "impasse_t_s_e_hist" %>

  <div class="box tabular">
    <p><%= f.text_field :test_steps %></p>
    <p><%= f.text_field :execution_histories %></p>
    <p><%= f.text_field :executions %></p>
  </div>

  <p class="buttons">
    <%= f.submit %>
  </p>
<% end %>