<tr id="<%= dom_id impasse_t_s_e_hist %>" class="<%= cycle "odd", "even" %>">
  <td><%= impasse_t_s_e_hist.test_steps %></td>
  <td><%= impasse_t_s_e_hist.execution_histories %></td>
  <td><%= impasse_t_s_e_hist.executions %></td>
  <td><%= authoring impasse_t_s_e_hist.created_at, impasse_t_s_e_hist.author %>.</td>
  <td><%= l(:label_updated_time, time_tag(impasse_t_s_e_hist.updated_at)).html_safe %>.</td>
  <td class="buttons">
    <%= link_to l(:button_show), impasse_t_s_e_hist, remote: true %>
    <%= link_to l(:button_edit), edit_impasse_t_s_e_hist_path(impasse_t_s_e_hist), class: "icon icon-edit", remote: true %>
    <%= link_to l(:button_delete), impasse_t_s_e_hist, method: :delete, data: { confirm: l(:text_are_you_sure) }, class: "icon icon-del", remote: true %>
  </td>
</tr>