<div class="contextual">
  <%= link_to l(:label_impasse_t_s_e_hist_edit), edit_impasse_t_s_e_hist_path(@impasse_t_s_e_hist), class: "icon icon-edit", remote: true %>
</div>

<h2><%= link_to l(:label_impasse_t_s_e_hist_plural), impasse_t_s_e_hists_path %>
  &#187; <%= l(:label_impasse_t_s_e_hist) %></h2>

<div class="box">
<p>
  <b>Test steps:</b>
  <%= @impasse_t_s_e_hist.test_steps %>
</p>
<p>
  <b>Execution histories:</b>
  <%= @impasse_t_s_e_hist.execution_histories %>
</p>
<p>
  <b>Executions:</b>
  <%= @impasse_t_s_e_hist.executions %>
</p>
</div>

<% html_title l(:label_impasse_t_s_e_hist) -%>